*.log
*.dvi
*.aux
*.out
*.nav
*.snm
*.toc
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsyn
*.pyc
*.csv
build
json
downloads
!testDELIM.csv
!testOK.csv
!testRAW.csv
!testSTRUCT.csv
!fichierType.csv
