<!DOCTYPE html>
<html>
<head>
	<title>DCbrain</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/echantillons.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/tablefilter/filtergrid.css') }}">
</head>

<body>

	{% include 'header.html' %}
	
	<section>
		<br />
		<!-- Affichage du message d'erreur d'ouverture -->
		{% if msgErreur is defined %} 
			<h1 id="msgErreur">{{msgErreur}}</h1>
			<form action="{{ url_for('remove', file=file) }}">
  				<input type="submit" style="text-align:center; background-color: red;" class="submit" value="Go Back" id="upload-button1">
			</form>
		
		<!-- sinon affichage du contenu du fichier -->
		{% else %}
		
		<!-- Message d'attente que le fichier se charge completenet -->
		<div id="loading">
			<h1 id="loadingText">Loading file, please wait...</h1>
		</div>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
		<script>
			$(document).ready(function(){
			$("#loading").fadeOut()
			});
		</script>
		
		<div class="tf_tools">
		<table id="tableCSV" class="mytable" cellpadding="0" cellspacing="0">
			
			<!-- Affichage des lignes des noms et boutons de validation -->
			
			<script>
				var lignesErreur = [];	//Tableau stockant les lignes ou il y'a des erreurs
				var nomsColonnes = [];	//Tableau stockant les noms de colonnes (car à modifier)
			</script>

			<!-- Stockage des noms de colonnes modifiables -->
			{% for nom in descCSV["nom"] %}
				<script>
					nomsColonnes.push('{{nom}}');
				</script>
			{% endfor %}
			
			<tr id="titres">
				<th>N°</th>
				
				<!-- Position de la colonne de date -->
				{% for type in descCSV["type"] %}
					{% if type == "date" %}
						<script>
							var indexDate = '{{loop.index}}';
						</script>
					{% endif %}
				{% endfor %}
				
				{% for nom in descCSV["nom"] %}

				<!-- Noms de colonnes modifiables -->
				<th><div contenteditable oninput="nomsColonnes['{{loop.index0}}'] = this.innerHTML.trim();" id="editor">
					{{ nom }}
					</div>
					
					<!-- Bouton de validation pour les colonnes de nombres, avec transmission de données -->
					{% if descCSV["type"][loop.index0] == "nombre" %}
						<!--<form action="{{url_for('calcul')}}" method="post">-->
						<input type="image" src="../static/img/goADD.png" Value=submit align="center" width=15px height=15px
							onclick="
									var colonneADD = [];
									var dateADD = [];
									var nomColonne = nomsColonnes['{{loop.index0}}'];
									
									var numLignes = tf_tableCSV.GetColValues(0,true);
									var colonneFiltree = tf_tableCSV.GetColValues('{{loop.index}}',false);
									var dateFiltree = tf_tableCSV.GetColValues(indexDate,false);
									
									//Nettoyage des données dont les lignes contiennet une erreur
									var i;
									for (i = 0 ; i < numLignes.length ; i++){
										var ligneErronee = 0;
										var j;
										for (j = 0; j < lignesErreur.length ; j++){
											if (numLignes[i] == lignesErreur[j]){
												ligneErronee = 1;
											}
										}
										if (ligneErronee == 0){
											colonneADD.push(parseFloat(colonneFiltree[i]));
											dateADD.push(dateFiltree[i]);
										}
									}
									
									//Affichages console de test
									console.log(nomColonne);
									console.log(colonneADD);
									console.log(dateADD);
									"
						/>
					{% endif %}
				</th>
				{% endfor %}
			</tr>
			
			<!-- Affichage des lignes de données du fichier -->
			{% for ligne in lignesCSV %}
				{% set numLigne = loop.index0 %}
				<tr>
				<td>{{loop.index}}</td>
				{% for donnee in ligne %}
					{% if descCSV["erreurs"][numLigne][loop.index0] != "correct" %}
						<td id="erreur">{{ donnee }} <span>{{descCSV["erreurs"][numLigne][loop.index0]}}</span></td>
						<script>
							lignesErreur.push(parseInt('{{numLigne + 1}}'));	//+1 car va etre comparé avec les numéros de la colonne N°
						</script>
					{% else %}
						<td id="valeur">{{ donnee }}</td>
					{% endif %}
				{% endfor %}
				</tr>
			{% endfor %}

		</table>
		{% endif %}
		</div>
		
	</section>

		<!-- Dépendances javascript -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/tablefilter/tablefilter_all.js') }}"></script>
	
		<!-- Affichage des filtres -->
		<script language="javascript" type="text/javascript">
			var table_Props =  {  
				filters_row_index: 1,
				col_0: "none",
				col_1: "checklist",
				col_2: "checklist",
				col_3: "checklist",
				display_all_text: "Show all",
				help_instructions_btn_html:'R',
				
				on_change: false,  
				btn: true,
				enter_key: true,
				paging: true,  
				paging_length: 50,
				results_per_page: ['ows per page',[50,100,500,1000,{{lignesCSV|length}}]],
				rows_counter: true,  
				rows_counter_text: "Rows: ",  
				btn_reset: true,
				btn_help: false,
				loader: true,  
				loader_text: "Filtering data..."
			};  
			var tf = setFilterGrid("tableCSV",table_Props);
			//tf_tableCSV.pagingLength = '{{lignesCSV|length}}';
		</script>
		
</body>

{% include 'footer.html' %}

</html>