<!DOCTYPE html>
<html>
<head>
	<title>DCbrain</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/echantillons.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/tablefilter/filtergrid.css') }}">
</head>

<body>

	{% include 'header.html' %}
	
	<section>
		<br />
		{% if msgErreur is defined %} 
			<h1 id="msgErreur">{{msgErreur}}</h1>
			<form action="{{ url_for('remove', file=file) }}">
  				<input type="submit" style="text-align:center; background-color: red;" class="submit" value="Go Back" id="upload-button1">
			</form>
		
		{# affichage du contenu du fichier #}
		{% else %}
		
		<div class="tf_tools">
		<table id="tableCSV" class="mytable" cellpadding="0" cellspacing="0">
			<tr>
				<th>N°</th>
				{% for nom in descCSV["nom"] %}
				<th>{{ nom }}</th>
				{% endfor %}
			</tr>
			<tr>
				<td></td>
				{% for type in descCSV["type"] %}
				{% if type == "nombre" %}
				<td>
					<input type="button" value="Analyser" 
						onclick="var colonneValeurs = tf_tableCSV.GetColValues({{loop.index}},true)" 
					/>
				</td>
				{% else %}
				<td></td>
				{% endif %}
				{% endfor %}
			</tr>
			{% for ligne in lignesCSV %}
				{% set numLigne = loop.index0 %}
				<tr>
				<td>{{loop.index}}</td>
				{% for donnee in ligne %}
					{% if descCSV["erreurs"][numLigne][loop.index0] != "correct" %}
						<td id="erreur">{{ donnee }} <span>{{descCSV["erreurs"][numLigne][loop.index0]}}</span></td>
					{% else %}
						<td id="valeur">{{ donnee }}</td>
					{% endif %}
				{% endfor %}
				</tr>
			{% endfor %}
		</table>
		{% endif %}
		</div>
		
		<!--Dépendances-->
		<script type="text/javascript" src="{{ url_for('static', filename='js/tablefilter/tablefilter_all.js') }}"></script>
	
		<!--Filtres-->
		<script language="javascript" type="text/javascript">  
			var table_Props =  {  
							filters_row_index: 1,
							col_0: "none",
							col_1: "checklist",
							col_2: "checklist",
							col_3: "checklist",
							display_all_text: "Show all",
							
							help_instructions_btn_html:'R',
							
							on_change: false,  
							btn: true,
							enter_key: true,
							paging: true,  
							paging_length: 50,
							results_per_page: ['ows per page',[50,100,500,1000]],
							rows_counter: true,  
							rows_counter_text: "Rows: ",  
							btn_reset: true,
							btn_help: false,
							loader: true,  
							loader_text: "Filtering data..."
						};  
			var tf = setFilterGrid("tableCSV",table_Props);
		</script>
		
		<!-- Boutons de choix de colonne --> 
		<input type="button" value="Analyse" onclick="print(tc.GetColValues(2,false) );" />
		
	</section>
	
</body>

{% include 'footer.html' %}

</html>