
.mini {
	margin: 0 auto;
	border: solid 1.5px #1c1a19;
	height: 150px;
	margin-bottom: 10px;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 4px;
}

.container2 {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	position:relative;
}

.container2 nav {
	float: left;
	width: 20%;
	text-align: center;
	border-radius: 10px;
	position:absolute;
}

.container2 section {
	margin-left: 25%;
	float : left;
	width: 75%;
	text-align: center;
	border: solid 2px;
	display: inline;
	margin-top: 20px;

	box-shadow: 0px 2px 5px #444444;
    border-radius: 4px;
}

.container2 nav div, #iStats, #graphePrincipal, #NavArcTimeSeries {
	background-color: #fefefe;
}

#iStats {
	display: flex;
	max-height: 200px;
	overflow: auto;
}
#stats2, #outliers2 {
	position:relative;
	width:50%;
	margin:auto;
	padding-top: 2%;
	text-align: center;
}
#stats2{border-right: 1px solid;}
#outliers2 li, #stats2 li{
	text-align: left;
	margin-left:30%; 
}

#nomColonne{
	color: rgba(0,0,0,1);
    overflow: hidden;
    margin:2%;
    padding: 1%;
    background-color: rgba(72,201,207,0.2);
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    text-shadow: rgba(255,255,255,0.5) 0.5px 0.5px, rgba(255,255,255,0.5) -0.5px 0.5px, rgba(255,255,255,0.5) -0.5px -0.5px, rgba(255,255,255,0.5) 0.5px -0.5px;
}

#navTimeSeries{
	max-height: 100px;
	overflow: auto;

}

form #Arc {
	display: inline-block;
}

#Arc {
	box-shadow: 0px 2px 5px #1c1a19;
	background-color:  rgba(72,201,207,0.2);
    border-radius: 3px;
	margin-top:10px;
	margin-bottom: 5px;
	text-align: center; 
	border: solid 0.5px;
	height: 20px;
	width: 200px;
	vertical-align: center;
	position: relative;
    position: center;
    margin:auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

#Arc b, #Arc input {
    vertical-align: middle;        
}