table{
    border-collapse: collapse;
    margin: auto;
}
td, th{
    border: 1px solid rgba(255,255,255,0);
    background-color: rgba(118,118,118,0.1);
    box-shadow: 0px 2px 5px #1c1a19;
	border-radius: 2px;
    padding: 7px;
}
th{
	font-weight: bold;
	background-color: rgba(118,118,118,0.5);
}
#erreur{
	background-color: rgba(200,100,100,0.5);
}
#erreur:hover{
	color: yellow;
}
#erreur span{
	display: none;
}
#erreur:hover span{
   display: inline;
   position: absolute;

   white-space: nowrap;
   border-radius: 5px;
   background: white;

   color: rgba(0,0,0,0.8);
   padding: 3px;

   border: 1px solid rgba(250,10,10,0.7);
   border-left: 4px solid rgba(250,10,10,0.7);
}
#msgErreur{
	background-color: rgba(118,0,1,0.7);;
	box-shadow: 0px 2px 5px #1c1a19;
	border-radius: 5px;
	margin: 10%;
	padding: 5%;
	color: white;
	text-align: center;
	text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
}
#loading{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top:70px; 
    opacity:0.5;
    background-color:#000;
    color:#fff;
    z-index:2000;
}
#loadingText{
	margin: 10%;
	padding: 5%;
	color: white;
	text-align: center;
	text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
}
#btn_analyse{
  font-size: 90%;
  margin-top: 5%;
}