#logo {
    position: absolute;
    top:0px;
    margin: 0.35%;
}

.nav { 
    position: absolute;
    top:0px;
    width: 100%; 
    height: 70px;
    margin-top: 0px;
    background: #48C9CF;     
    box-shadow: 0px 2px 5px #1c1a19;
    z-index:9999;
}

.nav ul { 
    padding: 2%;
    text-align: center; 
} 

.nav ul li {
    display: inline-block; 
    margin: 0 20px; 
    vertical-align: middle;
}

.nav ul li a { 
    padding: 10px 0; 
    color: #fff; 
    font-size: 1.2rem; 
    text-decoration: none; 
    font-weight: bold; 
    transition: all 0.2s ease; 
    vertical-align: middle;
} 

.nav ul li a:hover { color: #34495E; } 

/* Mise en page de la page */
body {
    /* background-color: #FFFFFF; */
    background-color: #EFEFEF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: small;
    color: #000000;
    margin-top: 8%;
}

section {
    float: center;
    position: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

section input {
    text-align: center;
    position: relative;
    position: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/** CSS pour le Dragbox */

.container {
    overflow:hidden;
    width:960px;
    margin:20px auto;
}
.contr {
    background-color: #878D8C;
    color: #FFFFFF;
    padding: 10px 0;
    text-align: center;

    border-radius:10px 10px 0 0;
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
}
.upload_form_cont {
    background: -moz-linear-gradient(#dddddd, #dddddd);
    background: -ms-linear-gradient(#dddddd, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
    background: -webkit-linear-gradient(#dddddd, #dddddd);
    background: -o-linear-gradient(#dddddd, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2')";
    background: linear-gradient(#dddddd,#dddddd);
    border-radius: 6px;
}
.Mwelcome{
    color: rgba(55,55,55,0.7);
    overflow: hidden;
    padding: 2%;
    background-color: rgba(72,201,207,0.5);
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    margin:0.5%;
    font-size: 120%;
}
.Mwelcome h3{
    margin-top:2%; 
}

#dropbox {
    background-color: #CCCDCD;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 4px;

    border: 6px dashed #191977;
    float: left;
    font-size: 35px;
    font-weight: bold;
    height: 470px; 
    line-height: 430px;
    margin: 20px;
    position: relative;
    text-align: center;
    width: 910px;
}

#dropbox.active {
    border: 6px dashed #FF0000;
}

*{
    margin: 0px;
}

div#div_file{
    position: relative;
    margin: 200px 425px;
    padding: 10px;
    width: 30px;
    height: 30px;
    background-color: #23798D;
    border-radius: 30px;
    box-shadow: 0px 2px 5px #1c1a19;
}

p#text {
    text-align: center;
    color: white;
    margin : -200px;
}

#dropbox div#div_file:active { 
    background-color: #34495E; 
    box-shadow: 0px 3px 0px #34595E;
} 

input#btn_file {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

input[type=submit] {
    -moz-box-shadow:inset 0px -3px 7px 0px #48C9CF;
    -webkit-box-shadow:inset 0px -3px 7px 0px #48C9CF;
    box-shadow:inset 0px -3px 7px 0px #48C9CF;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
    background:-moz-linear-gradient(top, #48C9CF 5%, #43B9BF 100%);
    background:-webkit-linear-gradient(top, #48C9CF 5%, #43B9BF 100%);
    background:-o-linear-gradient(top, #48C9CF 5%, #43B9BF 100%);
    background:-ms-linear-gradient(top, #48C9CF 5%, #43B9BF 100%);
    background:linear-gradient(to bottom, #48C9CF 5%, #43B9BF 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
    background-color:#48C9CF;
    -moz-border-radius:35px;
    -webkit-border-radius:35px;
    border-radius:35px;
    border:0px solid #34595E;
    display:block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:9px 35px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
    text-align: center;
}
input[type=submit]:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
    background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
    background-color:#48C9CF;
}
input[type=submit]:active {
    position:relative;
    top:1px;
}

/*footer*/
div#footer{
    text-align: center;
	font-size: 15px;
    margin-top: 10%;
	margin-bottom: 0.7%;
    background: rgba(70,70,70,0.2);
    color: #eeeeee;   
    box-shadow: 5px 0px 3px #1c1a19;
    padding: 0.5%;
    text-shadow: rgba(70,70,70,0.7) 1px 1px, rgba(70,70,70,0.7) -1px 1px, rgba(70,70,70,0.7) -1px -1px, rgba(70,70,70,0.7) 1px -1px;
}