div#inf_tableCSV {
	background-color: #CCCDCD;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 4px;
    margin-left: 30px;
    margin-right: 30px;
}

iframe {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 1100px;
	height: 1100px;
	background-color: #CCCDCD;
    box-shadow: 0px 3px 5px #1c1a19;

}

.container3 {
    position: relative;
    position: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	margin-top: 30px;
	width: 1200px;
	height: 1200px;
	background-color: #CCCDCD;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
}
