<!DOCTYPE html>
<html>
<head>
<title>DCbrain</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="icon" href="../static/ressources/favicon.png" />
</head>
<body>

{% include 'header.html' %}

<section>


<div class="container">
	<div class="Mwelcome">
		<h2>Welcome!<h2>
        <h3>Browse or drag a CSV file to analyse.</h3>
	</div>
</div>
	
<form id="upload-form" action="{{ url_for('choixFic.FileWithSGF') }}" method="POST" enctype="multipart/form-data">

    <div class="container">
    	<div class="upload_form_cont">
    		<div class="dropbox" id="dropbox">
    			<div  id="div_file">
                    <p id="text">+</p>
                    <input type="file" id="btn_file" name="file" onchange="this.form.submit()">
                </div>
    		</div>
    		<div class="tablearea" id="tablearea"></div>
    	</div>
	</div>
    <input type="submit" style="text-align:center; display: none;" class="submit" value="Upload!" id="upload-button1" style="border:solid;">

</form>

</section>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Drag.js') }}"></script>

{% include 'footer.html' %}

</body>

</html>