<!DOCTYPE html>
<html>
	<head>
		<title>DCbrain</title>
		<link rel="icon" href="../static/ressources/favicon.png" />
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/c3.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/add.css') }}">
	</head>
	
	<body id="target">

	{% include 'header.html' %}
<section>
	<h1 id="nomColonne"></h1>

<div class="container2">
		<nav id="miniatures">
				<h1 id="miniaturesTitle">Miniatures</h1>
			<div class="mini" id="timeSeriesMini"></div>
			<div class="mini" id="distributionMini"></div>
			<div class="mini" id="distributionCumulativeMini"></div> 
		</nav>

		<section id="graphePrincipal">
				<h1 id="mainViewTitle">Time Series</h1>
			<div class="mainView" id="timeSeries"></div>
			<div class="mainView" id="distribution"></div>
			<div class="mainView" id="distributionCumulative"></div>
		</section>

		<section id="NavArcTimeSeries">
			<div id="navTimeSeries"></div>
		</section>

		<section id="iStats" style= "margin-bottom: 20px;">
			<div class="listeHeader" id="stats"></div>
			<div class="listeHeader" id="outliers"></div>
		</section>

		<form action="{{ url_for('sauvegardeResultats', file=file) }}" style='float: right;'>
  			<input type="image" name="download" src="{{ url_for('static', filename='ressources/download.png') }}" width="42">
		</form>
		<form action="{{ url_for('fenetre_role_choix_colonne', file=file) }}">
  			<input type="submit" class="submit" value="Previous Page" id="upload-button1">
		</form>

</div>
<div>
	{% include 'footer.html' %}
</div>
	
</section>
		<!--Dépendances-->
		<script type="text/javascript" src="{{ url_for('static', filename='js/d3.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/c3.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
				
		<!--Scripts-->
		<script type="text/javascript" src="{{ url_for('static', filename='js/infoStats.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/vuesInteractives.js') }}"></script>
		
		<!--Gestion des évènements-->
		<script>
			// Exportation
			$('#export').click(function() {
				window.location.replace("/sauvegardeResultats");
			});
			
			// Miniatures : On montre par défaut la série temporelle 
			$('#distribution').hide();
			$('#distributionCumulative').hide();
			
			$('#timeSeriesMini').click(function() {
				$('#mainViewTitle').text('Time Series');
				$('#timeSeries').show();
				$('#NavArcTimeSeries').show();				
				$('#distribution').hide();
				$('#distributionCumulative').hide();
			});
			
			$('#distributionMini').click(function(){
				$('#mainViewTitle').text('Distribution');
				$('#timeSeries').hide();
				$('#NavArcTimeSeries').hide();
				$('#distribution').show();
				$('#distributionCumulative').hide();
			});
			
			$('#distributionCumulativeMini').click(function(){
				$('#mainViewTitle').text('Cumulative Distribution');
				$('#timeSeries').hide();
				$('#NavArcTimeSeries').hide();
				$('#distribution').hide();
				$('#distributionCumulative').show();
			});
		</script>
		
		
	</body>

</html>
