<!DOCTYPE html>
<html>
	<head>
		<title>DCbrain</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/c3.css') }}">
	</head>
	
	<body>
		<a href="{{ url_for('index') }}" alt="Back page"> retour home </a>

		<nav class="nav">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
		
		<nav class="miniatures">
			<div id="timeSeriesMini"></div>
			<div id="distributionMini"></div>
			<div id="distributionCumulativeMini"></div>
		</nav>
		
		<section>
<!--
			section réservée pour la vue principale (zoom sur le graphe choisi)
-->
		</section>
		
		<section>
<!--
			section reservée pour les données statistiques / explications
-->
		</section>
		
		<script type="text/javascript" src="{{ url_for('static', filename='js/d3.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/c3.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/miniatures.js') }}"></script>
		
	</body>
</html>
