<!DOCTYPE html>
<html>
	<head>
		<title>DCbrain</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/c3.css') }}">
	</head>
	
	<body>
		<a href="{{ url_for('index') }}" alt="Back page"> retour home </a>

		<nav class="nav">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
		
		<nav class="miniatures">
			<div id="timeSeriesMini"></div>
			<div id="distributionMini"></div>
			<div id="distributionCumulativeMini"></div>
		</nav>
		
		<section id="graphePrincipal"></section>
		<section id="infoStats">Test</section>
		
		<!--Dépendances-->
		<script type="text/javascript" src="{{ url_for('static', filename='js/d3.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/c3.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
				
		<!--Scripts-->
		<script type="text/javascript" src="{{ url_for('static', filename='js/miniatures.js') }}"></script>
<!--
		<script type="text/javascript" src="{{ url_for('static', filename='js/infoStats.js') }}"></script>
-->
		<script>
			$('#infoStats').click(function(){
				$.getJSON("/infoStats", function(json) {
					console.log(json);
				});
			});
		</script>
		<!--Gestion des évènements-->
		<script>
		//Pour chaque miniature:
		//	miniature .onclick => charge le graphe correspondant // fin surbrillance ancienne mini // surbrillance nouvelle mini
		//  miniature .onmouseover => infobulle titre graphe // légère surbrillance
		</script>
		
	</body>
</html>
