<!DOCTYPE html>
<html>
<head>
	<title>DCbrain</title>
	<link rel="icon" href="../static/ressources/favicon.png" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/echantillons.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/TableFilter/filtergrid.css') }}">
</head>

<body>

	{% include 'header.html' %}
	
	<section>
		
	<!-- Affichage du message d'erreur d'ouverture -->
		{% if msgErreur is defined %} 
			<h1 id="msgErreur">{{msgErreur}}</h1>
			<form action="{{ url_for('remove', file=file) }}">
  				<input type="submit" class="submit" value="Go Back" id="upload-button1">
			</form>
		
		{% else %} <!-- sinon affichage du contenu du fichier -->
		
	<!-- Message d'attente que le fichier se charge completenet -->
		<div id="loading"><h1 id="loadingText">Loading file, please wait...</h1></div>
		

	<!-- Table d'affichage -->
		<div class="tf_tools">
		<table id="tableCSV" class="mytable" cellpadding="0" cellspacing="0">
			
		<!-- Noms modifiables -->
			<script>var nomsColonnes = [];//Tableau stockant les noms de colonnes (car à modifier)</script>
			{% for nom in descCSV["nom"] %}
				<script> nomsColonnes.push('{{nom}}'); </script>
			{% endfor %}
			
	<!-- Affichage de la ligne des titres et des boutons de validation -->
			<tr>
				<th>N°</th>
				<!-- Position de la colonne de date -->
				{% for type in descCSV["type"] %}
					{% if type == "date" %}
						<script>var indexDate = '{{loop.index}}';</script>
					{% endif %}
					{% if type == "parent" %}
						<script>var indexParent = '{{loop.index}}';</script>
					{% endif %}
					{% if type == "enfant" %}
						<script>var indexEnfant = '{{loop.index}}';</script>
					{% endif %}
				{% endfor %}
				
				<!-- Affichage des noms de colonnes + possibilité de modification -->
				{% for nom in descCSV["nom"] %}
				<th><div contenteditable oninput="nomsColonnes['{{loop.index0}}'] = this.innerHTML.trim();" id="editor">
					{{ nom }}
					</div>
					
					<!-- Bouton de validation pour les colonnes de nombres, avec transmission de données -->
					{% if descCSV["type"][loop.index0] == "nombre" %}
					<input id="btn_analyse" type="submit" Value="Analyse"
							onclick="
									var colonneADD = [];
									var dateADD = [];
									var parentADD = [];
									var enfantADD = [];
									var nomColonne = nomsColonnes['{{loop.index0}}'];
									
									var numLignes = tf_tableCSV.GetFilteredDataCol(0);
									var colonneFiltree = tf_tableCSV.GetFilteredDataCol('{{loop.index}}');
									var dateFiltree = tf_tableCSV.GetFilteredDataCol(indexDate);
									var parentFiltree = tf_tableCSV.GetFilteredDataCol(indexParent);
									var enfantFiltree = tf_tableCSV.GetFilteredDataCol(indexEnfant);
									
									//Nettoyage des données dont les lignes contiennet une erreur
									var i;
									for (i = 0 ; i < numLignes.length ; i++){
										var ligneErronee = 0;
										var j;
										for (j = 0; j < lignesErreur.length ; j++){
											if (numLignes[i] == lignesErreur[j]){
												ligneErronee = 1;
											}
										}
										if (ligneErronee == 0){
											colonneADD.push(parseFloat(colonneFiltree[i]));
											dateADD.push(dateFiltree[i]);
											parentADD.push(parseInt(parentFiltree[i]));
											enfantADD.push(parseInt(enfantFiltree[i]));
										}
									}
									
									//Envoi des listes
									var filename = '{{file}}';
									var file = new Object();
									file.nomColonne = nomColonne;
									file.colonneADD = colonneADD;
									file.dateADD = dateADD;
									file.parentADD = parentADD;
									file.enfantADD = enfantADD;

									$.ajax({
            							url: '/fenetre_resultat_ADD/' + filename,
            							type: 'PUT',
            							data: JSON.stringify(file),
            							dataType: 'json',
            							contentType: 'application/json',
            							success: window.location = '/fenetre_resultat_ADD/' + filename,
            							error: function(jqXHR,textStatus,errorThrown) {}		      
        							});									
									"
						/>
					{% endif %}
				</th>
				{% endfor %}
			</tr>
			
	<!-- Affichage des lignes de données du fichier -->
			<script>var lignesErreur = [];//Tableau stockant les lignes ou il y'a des erreurs</script>
			{% for ligne in lignesCSV %}
				{% set numLigne = loop.index0 %}
				<tr>
				<td>{{loop.index}}</td>
				{% for donnee in ligne %}
					{% if descCSV["erreurs"][numLigne][loop.index0] != "correct" %}
						<td id="erreur">{{ donnee }} <span>{{descCSV['erreurs'][numLigne][loop.index0]}}</span></td>
						<script>
							lignesErreur.push(parseInt('{{numLigne + 1}}'));	//+1 car va etre comparé avec les numéros de la colonne N°
						</script>
					{% else %}
						<td id="valeur">{{ donnee }}</td>
					{% endif %}
				{% endfor %}
				</tr>
			{% endfor %}

		</table>
		{% endif %}
		</div>
		
	</section>

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/TableFilter/tablefilter_all.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/echantillons.js') }}"></script>
	
	<!-- Affichage des filtres -->
	<script language="javascript" type="text/javascript">
		var table_Props =  {  
			filters_row_index: 1,
			col_0: "none",
			col_1: "checklist",
			col_2: "checklist",
			col_3: "checklist",
			display_all_text: "Show all",

			help_instructions_btn_html:'R',
			on_change: true,  
			btn: true,
			enter_key: true,
			paging: true,  
			paging_length: 50,
			results_per_page: ['ows per page',[50,100,500,1000,{{lignesCSV|length}}]],
			rows_counter: true,  
			rows_counter_text: "Rows: ",  
			btn_reset: true,
			loader: true,  
			loader_text: "Filtering data..."
		};  
		var tf = setFilterGrid("tableCSV",table_Props);
	</script>
	
	{% include 'footer.html' %}
		
</body>

</html>
