<!DOCTYPE html>
<html>
<head>
<title>DCbrain</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"> -->
</head>
<body>


<nav class="nav"> 
	<ul> 
		<li><a href="#">Home</a></li> 
		<li><a href="#">About</a></li> 
		<li><a href="#">Contact</a></li> 
	</ul> 
</nav>

<section>
<form id="upload-form" action="#" method="POST" enctype="multipart/form-data">

    <div class="container">
        <div class="upload_form_cont">
           <!-- <img src="{{ url_for('static', filename='file.png') }}" style="height: 200px; float:left;" alt="logo"><p> -->
            <div id="dropbox">Drop files here!</div>

        </div>
    </div><p>

    <input type="submit" value="Valider" id="button">
</form>
</section>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script>
	var path; // Contiendra le chemin du fichier
	var file_drop = document.getElementById('dropbox');
	file_drop.addEventListener(
    'dragover',
    function handleDragOver(evt) {
      evt.stopPropagation()
      evt.preventDefault()
      evt.dataTransfer.dropEffect = 'copy'
    },
    false
  )
  file_drop.addEventListener(
    'drop',
    function(evt) {
      evt.stopPropagation()
      evt.preventDefault()
      var files = evt.dataTransfer.files  // FileList object.
      console.log(evt.dataTransfer.files[0].path)
      var file = files[0]                 // File     object.
      alert(file.name + " C'est le chemin?  " + path)
    },
    false
  )
</script>
</body>
</html>